canvas{
	background: black;
}

body{
	background: black;
	color: rgb(200,200,200);
	font-family: 'Pangolin', cursive;
}

.logo{
	margin-top: 0em;
	font-family: 'Barrio', sans-serif;
	color: rgb(200,200,200);
}
.logo-sub{
	margin-top: 0em;
	color: rgb(200,200,200);
	line-height: 0%;
}