a{
	padding-top: 4em;
}



#about{
	padding-top: 20em;
}


body{
	background: white url("https://s-media-cache-ak0.pinimg.com/originals/68/6b/f4/686bf4463ee9f8e10bc6bf47caad61c1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
